---
layout: job_page
title: "Marketing Operations Manager"
---

You have experience in marketing, business development, or sales operations and love diving down the rabbit holes of system errors and leaky lead flows. Your job is three-fold: Keep the software and systems used by marketing running optimally (particularly Marketo and integrated Marketo tools), ensure high data quality and help colleagues access that data, and assist in analysis and reporting on marketing and sales data.

## Responsibilities

* Assist marketing employees in creating and running marketing programs and campaigns.
    * Create documentation that guides the marketing team in their use of marketing software tools
    * Train the marketing team on marketing software tools
    * Administer and audit use of marketing software tools
    * Anticipate and prevent technical problems in marketing program execution
* Work with our demand generation and sales teams to ensure our lead and sales data is accurate, consistent, accessible, and usable.
    * Manage lead routing, scoring, and syncing
    * Enable users to import and export accurate data through training and documentation
    * Reduce duplicate records and redundant processes
* Work with our demand generation and sales teams to become an expert on the company's lead funnel - from web visitor to customer and everything in-between.
* Own the Marketing Technology Stack
* Document all processes in the handbook and update as needed.

## Requirements

* Excellent spoken and written English.
* Experience with marketing automation software (Marketo highly preferred).
* Experience with CRM software (Salesforce preferred).
* Experience in sales operations and/or marketing automation software preferred.
* Experience on sales and/or marketing teams of B2B software, Open Source software, and the developer product space is preferred.
* Proficiency in MS Excel.
* Is your college degree in French foreign politics with a minor in interpretive dance but you’ve been selling and marketing products since you were 12? Perfect. We understand that your college degree isn’t the only thing that prepares you as a potential job candidate.
* You are obsessed with making customers happy. You know that the slightest trouble in getting started with a product can ruin customer happiness.
* Be ready to learn how to use GitLab and Git
* You share our [values](/handbook/values), and work in accordance with those values.


<%= partial "includes/apply_and_about" %>
