---
layout: job_page
title: "People Operations Coordinator"
---

## Responsibilities

- Responsible for the day to day administration of People Operations, and assisting team members with their People Operations questions.
- Prepare contracts for employees and contractors on quick turnaround and follow-through with smooth onboarding of new team members.
- Coordinate with our payroll and benefits providers, and using our People Ops Information System and ATS; currently BambooHR and Lever.
- Assist and advise managers in delicate and difficult People Operations issues (special circumstances, conflicts, sickness, layoffs, etc.)
- Create People Operations processes and strategies following the GitLab workflow, with the goal always being to make things easier from the perspective of the team members
- Keep it efficient and DRY.
- Provide assistance to the team with miscellaneous support tasks.
- Maintain the hiring pipeline and ensure proper follow-up. Participate in recruiting, screening, and reference calls.
- Suggest and implement improvements to People Operations, for example for performance reviews and various types of training.
- Help write job descriptions and promotion criteria.

## Requirements

- Prior experience in an HR or People Operations role
- Clear understanding of US based HR laws
- Ability to work strange hours when needed (for example, to call an embassy in a different continent)
- Excellent written and verbal communication skills
- Enthusiasm for, and broad experience with, software tools
- Proven experience quickly learning new software tools
- Willing to work with git and GitLab whenever possible
- Willing to make People Operations as open and transparent as possible
- Wanting to work for a fast moving startup
- You share our [values](/handbook/values), and work in accordance with those values
- The ability to work in a fast paced environment with strong attention to detail is essential. You will be fully engaged and busy from the first day and we guarantee there will never be a dull moment.
- Successful completion of a [background check](/handbook/people-operations/code-of-conduct/#background-checks).


## A day in the life of...

On a typical day, you may start by reading messages from team members in email and via our
chat channels. Team members are located all over the world, so there is always bound to be
a question waiting for you! During the morning [team call](https://about.gitlab.com/hanbook/communication/#team-call)
you'll hear all about what's new and what strange behavior some of the [team pets](https://about.gitlab.com/team-pets/) have gotten up to. You'll also
share important pieces of People Ops news with the team, and point out a new process to them
that you documented the day before on our extensive and public [handbook](https://about.gitlab.com/handbook/). Next, it is time
for those screening calls with new applicants, and reference calls with applicants that
we are keen to add to the team. You're smoothly in and out of our applicant tracking system (Lever),
people ops information system (BambooHR), our handbook, and the internal issue tracker
where we post and solve issues together. Time for lunch; in your yard, or wherever you prefer.

One of the managers pings People Ops for a contract for a new hire. You raise your
hand, and pull it off the [contracts page](https://about.gitlab.com/handbook/contracts/) making the process as smooth and fast as possible
for the manager, and the applicant; the contract is reviewed and sent out that day via HelloSign.
Next, you turn your attention to helping the new hire from yesterday get started with
onboarding. Now is the time to make some small but important edits to the
handbook, whether it is a suggested edit to our [company values](https://about.gitlab.com/handbook/values), or a process involving BambooHR. As the business day comes to an end, you mark off the tasks that you've tackled
from the issue tracker, and make that restaurant reservation the executive team asked
for via Slack just a short moment ago. You can't wait for tomorrow, because that's
when you'll start improving our performance review processes! You are awesome.


## Other

- This position reports to the Chief Culture Officer.
- Salary range: $45k-$60k annually, depending on experience. Also see our benefits on https://about.gitlab.com/handbook/benefits


<%= partial "includes/apply_and_about" %>
